<div data-name="product-list-dd" class="section-background color-{{ section.settings.color_scheme }}"></div>
<div class="section section-resource-list spacing-style gap-style">
  <div class="section-resource-list__header">
   {%- content_for 'block', type: '_product-list-content-dd', id: 'static-header' -%}
  </div>

  <h1>{{ section.settings.collection.title }}</h1>
   <div
    class="section-resource-list__content"
    style="--horizontal-alignment: {{ section.settings.horizontal_alignment }};"
  >
    {%- content_for 'blocks' -%}
  </div>
</div>

{% schema %}
{
  "name": "product_list DD",
  "class": "ui-test-product-list",
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_divider"
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:settings.collection"
    }
  ],
  "presets": [
    {
      "name": "products_grid DD",
      "category": "t:categories.products",
      "settings": {
        "collection": ""
      },
      "blocks": {
      },
      "block_order": []
    }
  ]
}
{% endschema %}
